@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

*{
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family:  sans-serif;
    background-color: #ffffff;
}
nav{
    width: 100%;
    height: 80px;
    padding: 0.25rem;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #ccc 0px 0.25px 27px 0px;
}
.container{
    width: 70%;
    height: 4rem;
    margin: 1.5rem;
    padding: 0.25rem;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 3.75rem;
    margin-bottom: 2rem;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    display: flex;
}

.nav-item li{
    list-style: none;
    margin: 1.25rem;
    font-size: large;
}
a{
    text-decoration: none;
    color: black;
}
.nav-item li:hover{
    color: #fc8019;
}

.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: .50rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;    
    font-size: large;
    margin: 1.25rem;
    justify-content: center;
    padding: 0rem .25rem;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto; 
    height: auto;
  }

  .button-5:hover{
    background-color: #fc8019;
    color: #fff;
    padding: 1.25rem;
    margin: 0rem;
  }


.top-container{
    display: flex;
    padding: 1.5rem;
    justify-content: space-evenly;
    /* background-color: red; */
}

.serach-btn{
    cursor: pointer;
}

#filter{
    cursor: pointer;
}

.caruosal-info{
    width: 90%;
    height: auto;
    /* background: #000;
    color: #fff; */
    font-size: .75rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat";
}


.btn-arrow{
    display: flex;
    /* background: #f45; */
    justify-content: space-evenly;
    align-items: center;
}
.btn-arrow-left{
    background-color: #E0E0E5;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .90rem;
}

.btn-arrow-left:hover{
    color: rgb(255, 140, 0);
    background-color: rgb(243, 237, 237);
}

.btn-arrow-right{
    background-color: #E0E0E5;
    width: 35px;
    height: 35px;
    margin-right: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .90rem;
}

.btn-arrow-right:hover{
    color: rgb(255, 140, 0);
    background-color: rgb(243, 237, 237);
}

.caur-box{
    width: 90%;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
    overflow: hidden;
}

.caurosal-img{
    width: 144px;
    height: 180px;
    cursor: pointer;
    display: flex;
    margin-right: 3.69rem;
    /* transform: translateX(-550%);
    transition-duration: 0.55s; */
}

.container-box {
    width: 90%;
    height: auto;
    margin: 2rem auto;
    color: #ffffff;
}
hr{
    border: none;
    background-color: rgb(244, 240, 240);
    height: 1.45px;
    width: 85%;
    margin: auto;
    margin-top: 3rem;
}

.container-box h2{
    color: #000;
    font-family: "Montserrat";
    margin-top: 3rem;
    margin-bottom: 2px;
    padding: 0 2rem;
}

.res-card {
    width: calc(25% - 2rem); /* Calculate 25% width minus margins */
    height: auto;
    display: inline-block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem; 
    margin: 1rem;
    color: black;
    cursor: pointer;
    background-color: "#f9f9fa";
}

.res-card:hover {
    box-shadow: 4px 4px 5px 5px #e5e5e5;
    transition: all 0.15s ease-in-out;
    padding: 0.2rem;
}


.res-logo {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 1.2rem;
}

.card-rating{
    /* list-style: none; */
    display: flex;
    margin: 0;
    padding-left: 1rem;
}
.card-rating  li:first-child {
    margin:0;
    margin-top: 1.5px;
    margin-right: 1.25px;
}
.card-rating  li:nth-child(-n+2){
    list-style: none;
}
.card-rating li{
    margin-right: 1.75rem;
    font-weight: 500;
    font-size: larger;
    font-family: "Schibsted Grotesk", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.25rem;
}
.res-info{
    background-color: #f9f9fa;
}
.res-name{
    font-family: sans-serif;
    padding-top: 1rem;
    margin: 0 1rem;
}

.items-hotel div{
    color:#565353;
    margin-top:1px; 
    padding:  1rem;
    font-size: 1rem;
}

.top-footer{
    display: flex;
    justify-content: center;
    background: #f0f0f5;
    padding: 1rem;
    margin-top: 6rem;
}

.top-item-footer{
    width: 480px;
    height: auto;
    margin-right: 4.5rem;
}

.top-item-footer h1{
    margin: 0;
    font-size: 28px;
    font-weight: bolder;
    line-height: 38px;
    color: #02060CBF;
    font-family: "Montserrat";
}


.top-img-items,a img{
    width: 201px;
    height: auto ;
    margin-right: 1rem;
    display: flex;
}

footer{
    position: relative;
    z-index: 100;
}

/* Shimmer */

#shim-top-container{
    display: flex;
    padding: 1rem;
    justify-content: center;
}
#shim-filter{
    cursor: pointer;
    margin: 0px 1rem;
}

#shim-box{
    width: 80%;
    height: 100vh;
    margin: auto;
    color: red;
}


.shim-resCard{
    width: 332px;
    height: 343.54px;
    background-color: #dfdfdf; 
    display: inline-block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem; 
    margin: 1rem;
    color: black;
    cursor: pointer;
    position: relative;
}
.shim-resCard:hover{
    box-shadow: 4px 4px 5px 5px #ccc;
    transition: all 0.15s ease-in-out;
    padding: 0.2rem;
}
.shim-resCard ul{
    width: 100%;
    padding: 1rem;
    height: auto;
    list-style: none;
    position: absolute;
    top: 60%;
}

.resCardli{
   width: 90%;
   height: 20px;
   margin: 1rem;
   background: #f0f0f0;
   border-radius: 3px;
}



.below-footer{
    background-color: #02060C;
    color: #FFFFFFF4;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 17.5% 7rem;
    display: grid;
}

.brand-Info{
    width: auto;
    margin-top: 4rem;
}

.svg-logo-f{
    display: flex;
    margin: 19.92px 0;
}
.svg-logo-f span{
    font-size: 24px;
    font-weight: 800;
    margin-left: 1rem;
    font-family: "Montserrat";
}

.copyright-info{
    color: #ffffff99;
    font-family: "Montserrat";
}


.company-Info, .call-Info, .we-delivery-info{
    width: auto;
    margin-top: 4rem;
}

.company-Info h2, .call-Info h2, .we-delivery-info h2{
  margin: 0;
  font-weight: 700;
    font-size: 18px;
}
.company-Info ul, .call-Info ul, .we-delivery-info ul{
  padding: 0;
}

.company-Info li, .call-Info li, .we-delivery-info li{
    color: #ffffff99;   
    list-style: none;
    height: 2.35rem;
    font-family: "Montserrat";
}

.below-footer li:hover{
    color: #ccc;
}
.btn-city{
    visibility: visible;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: unset;
    box-shadow: unset;
    height: 32px;
    cursor: pointer;
    padding: 4px 8px;
    width: 100%;
    max-width: 120px;
    text-align: initial;
    border-radius: 8px;
    color: #ffffff99;
}
.btn-inner{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    font-family: "Montserrat";
}


#citiesName{
    width: 100%;
    height: auto;
    padding: 0 2rem 1rem;
    background-color: #02060C;
    color: #ffffff99;
    border-top: 0.01px solid #74777b;
}


#citiesName h2{
    margin-bottom: 2rem;
    font-family: "Montserrat";
    color: #f9f9fa;
    margin-left: 10%;
    font-size: 20px;
    font-weight: 400;
}

#citiesName ul{
    width: 100%;
    height: auto;
    margin: 1rem;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

#citiesName li{
    color: #ffffff99;   
    list-style: none;
    height: 2.35rem;
    width: 25%;
    font-family: "Montserrat";
}
#citiesName a{
    text-decoration: none;
    color: #ffffff99;
}

/* 
restaruant Menu */

.res-menu-Info{
    background-color: #FFFFFFF4;
    color: #000;
    border-radius: .75rem;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 6rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.res-menu-Info:hover{
    box-shadow: 4px 4px 5px 5px #ccc;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.starMenu{
    padding: 1rem 0;
    border-bottom: 1px dotted #6f6969;
}

.res-menu-rating{
    background-color: #f0f0f5;
    width: 6rem;
    height: 7rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}

.res-menu-rating span{
    margin-right: .45rem;
    color: #28a745;
    font-size: 1.20rem;
}

.rateMenu{
    font-size: small;
    font-weight: bold;
}

.recTitle{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.rec-Info{
    width: 70%;
    margin: 3rem auto;
    background-color: rgba(171, 168, 168, 0.27);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-radius: .5rem;

}

.rec-Info h3{
    font-family: "Montserrat";
}

.rec-img{
    position: relative;
}
.rec-Info img{
    width: 156px;
    height: 144px;
    border-radius: .5rem;
}
.addBtn{
    background-color: #ffffff;
    color: #000;
    width: 120px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 12%;
    bottom: -10;
    border-radius: .5rem;
    font-size: larger;
    font-weight: 600;
    color:  #28a745;
}
.addBtn:hover{
    background-color:  #28a745;
    color: #ffffff;

}

.btnMenudish{
    width: 70%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #FFFFFFF4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btnVeg{
    font-size: 2rem;
    color: #47aa5e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnVeg:hover{
    color: #25bc48;
    cursor: pointer;
}
.btnNon{
    font-size: 2rem;
    color: rgb(209, 59, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnNon:hover{
    color: red;
    cursor: pointer;
}



@media screen and (max-width: 1200px) {
    .res-card {
        width: calc(33.33% - 2rem); 
    }
}

@media screen and (max-width: 992px) {
    .res-card {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 768px) {
    .res-card {
        width: calc(100% - 2rem); 
    }
}

